.container {
    background: linear-gradient(to right, #f0f0f0, #e0e0e0);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background 0.5s, box-shadow 0.5s;
    position: relative;
}

.delete-item {
    position: absolute;
    top: -10px;
    right: -10px;
    display: none;
}

.container:hover {
    background: linear-gradient(to right, #e0e0e0, #d0d0d0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.container:hover .delete-item {
    display: block;
}

.card-text-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 650;
    margin: 1rem;
}

.trash-icon {
    background-color: white;
    padding: .5rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px;
    transition: background-color 0.5s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.trash-icon:hover {
    background-color: rgb(255, 213, 213);
}