.content {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 24px;
    justify-content: space-evenly;
}

.section-title {
    font-family: Arial, Helvetica, sans-serif;
}

.left-section {
    display: flex;
    flex-direction: column;
}

.todo-list-item {
    margin-top: 5px;
    margin-bottom: 5px;
}

.right-section {
    display: flex;
    flex-direction: column;
}

.right-input-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.todo-input {
    background: linear-gradient(to right, #f0f0f0, #e0e0e0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 0;
    padding: 0.5rem;
    transition: background 0.5s, box-shadow 0.5s;

}

.todo-input:hover {
    cursor: pointer;
    background: linear-gradient(to right, #e0e0e0, #d0d0d0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.add-task-button {
    background: linear-gradient(to right, #f0f0f0, #e0e0e0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

.add-task-button:hover {
    cursor: pointer;
    background: linear-gradient(to right, #e0e0e0, #d0d0d0);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}